body {
  margin: 0;
  padding: 0;
  display: flex;
}

.App {

}

#canvaselement {
  width: 50vw;
  height: 100vw;
  z-index: 2;
  display: inline-block;
}
#canvaselement2 {
  width: 50vw;
  height: 100vw;
  z-index: 2;
  display: inline-block;
}
